*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #1D1D1E;
    color: #79797C;
    font-weight: 300;
}
.main-left{
    background-color:#141414;
    height: 100%;
    float: left;
    text-align: center;
    position: fixed;
    color: wheat;
    z-index: 200;
    width: 250px;

}

#img-logo{
    margin-top: 100px;
    border-radius: 50%;
    border: 5px solid gray;
}
#h4{
    margin-top: 15px;
    font-size: 20px;
    font-family: cursive;
}
#ul{
    text-decoration: none;
    margin-top: 50px;
}
#ul li{
    margin-top: 25px;
}
a{
    text-decoration: none;
    color: gray;
}
#resume{
    color: #ffb100;
}
a:hover{
    color: #ffb100;

}
footer{
    margin-top: 100px;
    color: gray;
    font-size: 15px;
}



